@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');
*{
	margin: 0;
	padding: 0;
	transition: 1.5;
}
html{
	scroll-behavior: smooth;
}
.header{
min-height: 100vh;
width: 100%;
background-image:linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)),url(images/about.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
position: relative;

}
nav{
	position: fixed;
	width: 90%;
	display: flex;
	z-index: 1;
	padding: 2% 6%;
	justify-content:space-between;
	height: 5vh;
	background-color:rgba(255, 43, 36, .9);
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, .8);
	backdrop-filter: blur(9px);
	align-items: center;
}
nav img{
	width: 190px;
	transform: translateX(-70px);

}
@media(max-width: 700px){

	nav img{
		transform: translateX(-180px);
		width: 120px;

	}
	nav{
		height: 7vh;
	}
}
.nav-links{
flex: 1;
text-align: right;
float: left;


}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-size:16px ;
font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	display: inline-block;
	border-radius: 30px;
}

.nav-links ul li a:hover{
background:#fff;
color: #f33446;
transition: .9s;
}

@media(max-width: 700px){

.nav-links ul li a:hover{
color: #f33446;
transition: .9s;
}
}


.text-box{
width:90% ;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;

}
.text-box h1{
	font-size: 70px;
	font-family: 'Bebas Neue';
	font-weight: 200;

}
.text-box p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.text-box a{

	color: #f33446;
	list-style: none;
	font-weight: 600;
	text-decoration: none;

}

nav .fa{
	display: none;

}

@media(max-width:  700px){
	.text-box h1{
	font-size: 50px;
	font-family: 'Bebas Neue';


}

.nav-links ul li{
	display: block;
}
.nav-links{
position:fixed;
background-color:rgba(255, 43, 36, 1.9);
height: 100vh;
width: 200px;
top: 0;
right: -210px ;
text-align: left;
z-index: 2;
transition: .5s;


}
nav .fa{
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 20px;
	cursor: pointer;

  }
 .about h1{
  	font-size: 500px;
	font-weight: 200;
	font-family: 'Bebas Neue';
	padding-left: 30px;
  }
.nav-links ul{
	padding: 30px;
}


}
.fa{
	font-family: raleway;
}

/*courses*/

.courses{
width: 80%;
margin: auto;
text-align: center;
padding-top:100px ;
}
h1{
	font-size: 35px;
	font-weight: 200;
	font-family: 'Bebas Neue';
}
p{
	
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
font-family: 'Montserrat', sans-serif;
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.courses-col{
	flex-basis: 31%;
	background: #f33446;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;


}
.fa fa-bars{
	color: green;
}

h3{
	text-align: center;
	font-weight: 600;
	font-family: 'Bebas Neue';
	margin: 10px 0;
	color: #fff;
}
.courses-col:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1.0);
	background: linear-gradient(120deg,#2980b9, #8e44ad);
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}
/*----campus--------*/
.campus{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;

}
.campus-col{
	flex-basis: 30%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.campus-col img{
	width: 100%;
	display: block;
}
.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
}
.layer:hover{
		background: linear-gradient(120deg,#2980b9, #8e44ad);
		transition: .5s;
}
.layer h3{
	width: 100%;
	font-weight: 200;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
font-family: 'Bebas Neue';
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layer:hover h3{
bottom: 49%;
opacity: 1;

}
/*----------achievements---------*/
.Achievements{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.achievements-col{
	flex-basis: 31%;
	border-radius: 10px;
padding-left: 35px;
	margin-bottom: 5%;
	text-align: left;

}

.achievements-col img{
width: 100%;
border-radius: 10px;


}
@media(max-width: 700px){
	.achievements-col img{
		width: 80%;
	}
}
.achievements-col img:hover{
	transform: scale(0.9);
	transition: 1s;
	
}
.achievements-col p{
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.achievements-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	color: black;
	text-align: left;
	font-family: 'Bebas Neue';
	font-weight: 200;
	font-size: 30px;
}
/*---------testimonal--------*/
.testimonal{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.testimonal-col{
flex-basis: 44%;
border-radius: 10px;
margin-bottom: 5%;
text-align: left;
background: linear-gradient(120deg, #33ffad,#4da6ff, #8e44ad);
padding: 25px;
cursor: pointer;
display: flex;


}
.testimonal-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.testimonal-col  p{
	padding: 0;
	color: #fff;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
}
.testimonal-col h3{
	margin-top: 15px;
	font-weight: 100;
}
.testimonal-col .fa{
	color: #ffd11a;
}
@media(max-width: 700px){
	.testimonal-col img{
	margin-left: 0px;
	margin-right: 15px;
     }
}

.cta{
	margin: 100px auto;
	width: 80%;
	background: linear-gradient(120deg,#ff751a, #8e44ad);

	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 30px 0;
}
.cta h1{
	color: #fff;
	margin-bottom: 40px;
font-family: 'Bebas Neue';
	padding: 0;
}

.cta a{
    color: #fff;
	list-style: none;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
.cta a:hover{
	color:#4dd2ff ;
	transition: .5s;
}


@media(max-width: 700px){
	.cta h1{
		font-size: 24px;
	}
}
/*footer*/
.footer{
	width: 100%;

	text-align: center;
	background: linear-gradient(120deg,#2980b9, #8e44ad);
	height: 43vh;
	padding: 30px 0;
}
@media(max-width: 700px){

.footer{
	height: 55vh;
}
}
.footer img{
	width: 150px;
	transform: translateY(10px);
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	color: #fff;
	font-weight: 300;
	font-size: 25px;
	font-family: 'Bebas Neue';
}
.footer p{
	color: #fff;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;

}

.icons .fa{
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	color: #ffff;
	cursor: pointer;
	margin: 0 30px;
	font-size: 30px;
	transition: 1s;
    line-height: 60px;
	
}
@media(max-width: 700px){

	.icons .fa{
		width: 40px;
		height: 40px;
		margin: 0 10px;
		font-size: 20px;
		line-height: 40px;
	}
}

.icons .fa:hover{
	color:#4dd2ff;
transition: .5s;




}
.fa-heart{
	color:red;
	
}

/*about*/
.sub-header{
	height: 70vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.sub-header h1{
	margin-top: 100px;
	font-family: 'Bebas Neue';
	font-weight: 400;
	font-size: 30px;
}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}
.about-us h1{
	padding-left: 500px;
	font-size: 40px;
	font-size: 35px;
}
@media(max-width: 700px){
	.about-us h1{
	padding-left: 100px;
	font-size: 30px;
}
.about-col img{
	width: 250px;
}
}
.about-col{
	flex-basis: 48%;
	padding:30px 40px;
}
.about-col img{
	width: 100%;
	border-radius: 10px;
}
.about-col h2{
	padding-top: 0;
	font-family: 'Bebas Neue';
	font-size: 30px;
	font-weight: 400;
	
}
.about-col p{
	font-family: 'Montserrat', sans-serif;

}
.about-col a{
	color:#f33446;
	list-style: none;
	text-decoration: none;
	font-weight: 500;
		
}

span{
	color: red;
}
/*contact us*/
.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location h1{
		padding-left: 480px;
	font-size: 35px;
}
@media(max-width: 700px){
	.location h1{
		padding-left: 100px;
	font-size: 30px;
}
}
.location iframe{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}
.h5{
	font-size: 35px;
	font-weight: 300;
}
.contact-us{
	width: 100%;
	margin-right: 200px;

}
.contacl-col{
	
	margin-bottom:30px;
}
.contacl-col div{
	display:flex;
	align-items: center;
	margin-bottom: 40px;
}
.contacl-col div .fa{
	font-size: 30px;
	color: #ffff;
	background: #34564d;
	border-radius: 10px;
	padding: 20px 30px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	background: linear-gradient(120deg,#2980b9,#f33446, #ff751a
, #8e44ad);
	animation: bganimation 15s infinite;
	margin: 10px;
	background-size: 400% 400%;
	margin-right: 30px;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.contacl-col div p{
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}
.contacl-col button{
	font-weight: 600;
}
.contacl-col h5{
	font-size: 30px;
	margin-bottom: 5px;
	color: black;
	font-weight: 200;
	font-family: 'Bebas Neue';
}

@media(max-width: 700px){

.contacl-col h5{
	font-size: 30px;
	margin-bottom: 50px;
	color: black;
	font-weight: 300;
	font-family: 'Bebas Neue';
}






}
.button{
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	border: 1px solid #f44336;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	padding: 12px 34px;
	font-weight: 200;
	border-radius: 30px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.button:hover{
color: #fff;
background-color: #f44336;
border: 1px solid #f44336;
transition: 1s;
}
.contacl-col input, .contacl-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom:17px ;
	font-family: 'Bebas Neue';
	font-weight: 500;
	outline: none;
	border: 1px solid black;
	border-radius: 10px;
	box-sizing: border-box;
}

.credits a{
list-style: none;
text-decoration: none;
color: black;
}
.go img{
	display: none;
}

@media(max-width: 700px){
	.go img{
	display: inline-block;
	width: 10%;
	font-weight: 600;
	transform: translateY(-90px);
	border: 1px solid transparent;
	border-radius: 50%;
 
   }
}


.home img{
	transform: translateX(10px);
}


#preloader{
background: #fff url(
	images/loading.gif) no-repeat center center ;
height: 100vh;
transition: 11s;
width: 100%;
position: fixed;
animation-duration: 10s;
}
.content{
display: none;
}
.fa fa-facebook{
	color: red;
}
.gotop{
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgba(255, 43, 36, .7);
	bottom: 40px;
	backdrop-filter: blur(9px);
	right: 50px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 20px;
}
.gotop:hover{
	transform: translateY(-10px);
	transition: 1s;
}
.image-gallery{
	width: 80%;
	margin: 100px auto 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
}
.image-gallery img{
	width: 100%;
	cursor: pointer;
	border-radius: 10px;
}
.image-gallery img:hover{
	transform: scale(.8);
	transition: 1.5s;
	box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}
.gallery h1{
margin-left: 630px;
}

@media(max-width: 700px){
.gallery h1{
margin-left: 140px;
}
}
.cta .col-1 {
	flex-basis: 40%;
	min-width: 300px;
	margin-bottom: 30px;
	margin-left: 50px;
	width: 20px;
	position: relative;
}
.cta .col-2 {
	flex-basis: 55%;
	min-width: 300px;
	margin-bottom: 30px;
	
}
.cta .col-1 img{
	
	width: 100%;
	padding-left: 400px;
}
.cta .col-4 img{
	flex-basis: 30%;
	min-width: 300px;
	margin-bottom: 30px;
	width: 20px;
}
.elements{
	position: absolute;
	left: 0;
	padding-left: 400px;
	top: 0;
	animation: move 3s linear infinite;
}
@media(max-width: 700px){
	.cta .col-1{
	transform: translateX(-430px);
	}
}
@keyframes move{
	0%{
		transform: translate(-15px, 0px);
	}
	50%{
		transform: translate(0px, -15px);
	}
	100%{
		transform: translate(-15px, 0px);
	}
}
.navigation{
	position: fixed;
	z-index: 1;
	opacity: 0;
	width: 70px;
	height: 300px;
	background: rgba(255, 255, 255, 0.74);
	backdrop-filter: blur(9px);
	margin-top: 150px;
	margin-left: 50px;
	transform: translateX(1200px);
	transition: .5s;
	box-shadow: 0 15px 20px rgba(0,0,0,0.1);
}


@media(max-width: 700px){
	.navigation{
		opacity: 0.7;
		transform: translateX(210px);
	}
}
.navigation:hover{
	opacity: 1;
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li{
	position: relative;
	list-style: none;

	width: 70px;
	height: 60px;
	border-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}
.navigation ul li:hover{
	background: #f33446;

}
.navigation ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-decoration: none;
	color: #0077ff;
	font-weight: 550;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	line-height: 60px;
	text-align: center;
}
.navigation ul li a .icon .fa{
	font-size: 25px;
}
.navigation ul li a .icon .far{
	font-size: 25px;
}


.navigation ul li:hover a .icon{
	color: #fff;
}
::-webkit-scrollbar
{
	width:16px;



}
::-webkit-scrollbar-thumb
{
background: #f33446;

}
